<div class="footer-top-area">
                    <div class="zigzag-bottom"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-about-us">
                                    <h2>Click<span>Speed</span></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                                    <div class="footer-social">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="footer-menu">
                                    <h2 class="footer-wid-title">Navegação do usuário </h2>
                                    <ul>
                                        <li><a href="#">Meu Perfil</a></li>
                                        <li><a href="#">Trocar Senha</a></li>
                                        <li><a href="#">Meu Carrinho</a></li>
                                        <li><a href="#">Notificações</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="footer-menu">
                                    <h2 class="footer-wid-title">Categorias</h2>
                                    <ul>
                                        <li><a href="#">Mais Vendidos</a></li>
                                        <li><a href="#">Postado Recentemente</a></li>
                                        <li><a href="#">Visto Recentemente</a></li>
                                        <li><a href="#">Preço menor</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="footer-newsletter">
                                    <h2 class="footer-wid-title">Seja um apoiador</h2>
                                    <p>Deixe seu e-email, entraremos em contato com você o mais breve possivel.</p>
                                    <div class="newsletter-form">
                                        <form action="#">
                                            <input type="email" placeholder="Seu e-mail">
                                            <input type="submit" value="Enviar">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				
<div class="footer-bottom-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="copyright">
                                    <p>&copy; 2020 ClickSpeed. All Rights Reserved. Desenvolvido por <a href="https://www.facebook.com/leonardo.amaro.14" target="_blank">Leonardo Amaro</a></p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="footer-card-icon">
                                    <i class="fa fa-cc-discover"></i>
                                    <i class="fa fa-cc-mastercard"></i>
                                    <i class="fa fa-cc-paypal"></i>
                                    <i class="fa fa-cc-visa"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>