
<script src="https://code.jquery.com/jquery.min.js"></script>
    
<!-- Bootstrap JS form CDN -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
<!-- jQuery sticky menu -->
  <script src="../_js/owl.carousel.min.js"></script>
  <script src="../_js/jquery.sticky.js"></script>
    
<!-- jQuery easing -->
  <script src="../_js/jquery.easing.1.3.min.js"></script>
    
<!-- Main Script -->
  <script src="../_js/main.js"></script>
    
<!-- Slider -->
  <script type="text/javascript" src="../_js/bxslider.min.js"></script>
  <script type="text/javascript" src="../_js/script.slider.js"></script>
  
<!-- Cronometo -->
  <script type="text/javascript" src="../_js/cronometo1.js"></script>
  
<!-- Mascará para os inputs - CADASTRO -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>